 <!-- Content Wrapper. Contains page content -->
 <div id="mod-list-contact-saleman-dup" class="content-wrapper">
 	<!-- Content Header (Page header) -->
 	<section class="content-header">
 		<h1>
 			<span>Sale Contact</span>
 			<small>Danh sách contact trùng</small>
 		</h1>
 		<ol class="breadcrumb">
 			<li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
 			<li><a class="active">Contact Saleman</a></li>
 		</ol>
 	</section>
 	<!-- Main content -->
 	<section class="content">
 		<div class="row">
 			<div class="col-xs-12">
 				<div class="box">
 					<div class="box-header">
 						<h3 class="box-title">Danh sách Contact Saleman trùng</h3>
 					</div>
 					<!-- /.box-header -->
 					<div class="box-body">
 						<div class="form-inline">
 							<div ng-if="pageMethods.authSvc.isSuperAdmin() || pageMethods.authSvc.isSaleManager()" class="pull-right">
 								<label for="ddlSM">Chọn Saleman: </label>
 								<select id="ddlSM" name="ddlSM" class="form-control" ng-model="vmCSMD.queryParams.uid" ng-change="vmCSMD.changeSaleman(item._id)" ng-options=" item._id as (item.email) group by item.group for item in vmCSMD.userSaleActive">
 									<!-- <option value=''>-- Chọn Saleman --</option> -->
 								</select>
 							</div>
 							<div class="clearfix"></div>
 							<div class="form-group form-group-item pull-right">
 								<br/>
								<!-- <a class="btn btn-primary btn-flat" ui-sref="salecontact-edit({id:null, _sale_usermember: pageMethods.authSvc.getProfile().uid})">
									<i class="glyphicon glyphicon-plus"></i>
									<span>Thêm mới</span>
								</a> -->
								<a ng-if="pageMethods.authSvc.isSuperAdmin() || pageMethods.authSvc.isSaleManager()" class="btn btn-danger btn-flat" ng-click="vmCSMD.evict()">
									<i class="glyphicon glyphicon-download"></i>
									<span>Thu hồi Contacts</span>
								</a>
							</div>
							<!-- ===================================FILTER=================================== -->
							<div class="pull-left">
								<div class="form-inline">
									<a ng-click="vmCSMD.linkFilter('filterDay','day')" ng-class="{'active':vmCSMD.queryParams.filterDay === 'day'}" class="ft-link">Hôm nay ([[vmCSMD.totalFilters.day || 0]])</a> 
									<a ng-click="vmCSMD.linkFilter('filterDay','isoWeek')" ng-class="{'active':vmCSMD.queryParams.filterDay === 'isoWeek'}" class="ft-link">Tuần này ([[vmCSMD.totalFilters.isoWeek || 0]])</a> 
									<a ng-click="vmCSMD.linkFilter('filterDay','month')" ng-class="{'active':vmCSMD.queryParams.filterDay === 'month'}" class="ft-link ft-last">Tháng này ([[vmCSMD.totalFilters.month || 0]])</a> 
									<div class="input-group col-md-4">
										<input type="text" class="form-control" id="reservationtime">
										<div class="input-group-addon">
											<i class="fa fa-calendar"></i>
										</div>
									</div>
								</div>
								<br/>

								<div class="form-inline">
									<a ng-click="vmCSMD.linkFilter('is_finish',false)" class="ft-link" ng-class="{'active': vmCSMD.queryParams.is_finish == 'false'}">Chưa bàn giao ([[vmCSMD.totalFilters.not_is_finish || 0]])</a>
									<a ng-click="vmCSMD.linkFilter('is_finish',true)" class="ft-link ft-last" ng-class="{'active': vmCSMD.queryParams.is_finish == 'true'}">Đã bàn giao qua CC ([[vmCSMD.totalFilters.is_finish || 0]])</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

									<a ng-click="vmCSMD.linkFilter('type','work')" class="ft-link" ng-class="{'active': vmCSMD.queryParams.type === 'work'}">Work ([[vmCSMD.totalFilters.work || 0]])</a>
									<a ng-click="vmCSMD.linkFilter('type','kid')" class="ft-link" ng-class="{'active': vmCSMD.queryParams.type === 'kid'}">Kid ([[vmCSMD.totalFilters.kid || 0]])</a>
									<a ng-click="vmCSMD.linkFilter('type','null')" class="ft-link ft-last" ng-class="{'active': vmCSMD.queryParams.type === 'null'}">Chưa phân loại ([[vmCSMD.totalFilters.undefined || 0]])</a>
								</div>
								<br/>

								<div class="form-inline">
									<a ng-click="vmCSMD.filterReset()" class="ft-link">Tất cả ([[vmCSMD.totalFilters.all || 0]])</a>
									<a ng-click="vmCSMD.linkFilter('is_recall_schedule', true)" class="ft-link" ng-class="{'active': vmCSMD.queryParams.is_recall_schedule === 'true'}">Hẹn gọi lại ([[vmCSMD.totalFilters.is_recall_schedule || 0]])</a>
									<a ng-click="vmCSMD.linkFilter('schedule_inteview', true)" class="ft-link" ng-class="{'active': vmCSMD.queryParams.schedule_inteview === 'true'}">Lịch hẹn test ([[vmCSMD.totalFilters.schedule_inteview || 0]])</a>
									<a ng-click="vmCSMD.linkFilter('call_level','new')" class="ft-link" ng-class="{'active': vmCSMD.queryParams.call_level === 'new'}">Mới nhận ([[vmCSMD.totalFilters.call_level_new || 0]])</a>
									<a ng-click="vmCSMD.linkFilter('call_level',1)" class="ft-link" ng-class="{'active': vmCSMD.queryParams.call_level === '1'}">L1 ([[vmCSMD.totalFilters.call_level_1 || 0]])</a>
									<a ng-click="vmCSMD.linkFilter('call_level',2)" class="ft-link" ng-class="{'active': vmCSMD.queryParams.call_level === '2'}">L2 ([[vmCSMD.totalFilters.call_level_2 || 0]])</a>

									<a ng-click="vmCSMD.linkFilter('call_level',3)" class="ft-link" ng-class="{'active': vmCSMD.queryParams.call_level === '3'}">L3 ([[vmCSMD.totalFilters.call_level_3 || 0]])</a>
									<a ng-click="vmCSMD.linkFilter('call_level',4)" class="ft-link" ng-class="{'active': vmCSMD.queryParams.call_level === '4'}">L4 ([[vmCSMD.totalFilters.call_level_4 || 0]])</a>
									<a ng-click="vmCSMD.linkFilter('call_level',5)" class="ft-link" ng-class="{'active': vmCSMD.queryParams.call_level === '5'}">L5 ([[vmCSMD.totalFilters.call_level_5 || 0]])</a>
									<a ng-click="vmCSMD.linkFilter('call_level',6)" class="ft-link" ng-class="{'active': vmCSMD.queryParams.call_level === '6'}">L6 ([[vmCSMD.totalFilters.call_level_6 || 0]])</a>
									<a ng-click="vmCSMD.linkFilter('call_level',7)" class="ft-link" ng-class="{'active': vmCSMD.queryParams.call_level === '7'}">L7 ([[vmCSMD.totalFilters.call_level_7 || 0]])</a>
									<a ng-click="vmCSMD.linkFilter('call_level',8)" class="ft-link ft-last" ng-class="{'active': vmCSMD.queryParams.call_level === '8'}">L8 ([[vmCSMD.totalFilters.call_level_8 || 0]])</a>
								</div>
								<br/>
								
								<div class="clearfix"></div>	
								<div class="form-inline">
									<input ng-model="vmCSMD.queryParams.keyword" type="text" class="form-control" placeholder="Search name, phone, email">
									&nbsp&nbsp&nbsp

									<select id="ddl-level" class="form-control" ng-model="vmCSMD.queryParams.call_status" ng-change="vmCSMD.filter()" ng-options=" item.value as (item.name) group by item.group for item in vmCSMD.constLevel">
										<option value=''>-- Chọn trạng thái cuộc gọi --</option>
									</select>
									&nbsp&nbsp&nbsp

									<select id="ddlCareStatus" class="form-control" ng-model="vmCSMD.queryParams.care_status" ng-change="vmCSMD.filter()" ng-options="item.value as item.name for item in vmCSMD.constCare">
										<option value=''>-- Chọn trạng thái chăm sóc --</option>
									</select>
									&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
									
									<button ng-click="vmCSMD.filter()" class="btn btn-flat btn-success">Filter</button>
									<button ng-click="vmCSMD.filterReset()" class="btn btn-flat btn-warning">Reset</button>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="pull-right">Record: [[vmCSMD.totalFilters.all]]</div>
						</div>
						<div class="clearfix"></div>
						<br/>
						<!-- ===================================END FILTER=================================== -->


						<!-- ===================================TABLE=================================== -->
						<div ng-show="vmCSMD.loading" style="text-align: center;"><img src="/assets/loading.svg" alt=""></div>
						<script ng-if="pageMethods.authSvc.isSuperAdmin() || pageMethods.authSvc.isSaleManager()" type="text/ng-template" id="headerCheckbox.html">
							<label for="all-check">Tất cả</label>
							<input id="all-check" i-check type="checkbox" ng-model="vmCSMD.checkboxes.checked" class="select-all" value="" />
						</script>
						<table ng-show="!vmCSMD.loading" ng-table="vmCSMD.table" class="table table-condensed table-bordered table-striped">
							<tr ng-repeat="item in $data">
								<td ng-if="pageMethods.authSvc.isSuperAdmin() || pageMethods.authSvc.isSaleManager()" style="text-align: center;" header="'headerCheckbox.html'"><input i-check type="checkbox" ng-model="vmCSMD.checkboxes.items[item._id]" /></td>
								<td data-title="'STT'">
									<div class="col col-num" ng-bind="((vmCSMD.queryParams.page - 1) * vmCSMD.queryParams.limit) + $index + 1"></div>
								</td>
								<td data-title="'Liên hệ'">
									<span ng-bind="item.level_1.name"></span><br>
									<span ng-bind="item.level_1.email"></span><br>
									<span ng-bind="item.level_1.phone"></span><br>
									<span ng-bind-template="Skype: [[::item.level_1.skype]]"></span><br>
								</td>
								<td data-title="'Thông tin'">
									<span ng-bind-template="Tuổi: [[::item.level_1.age]]"></span><br>
									<span ng-bind-template="Nghề nghiệp: [[::item.level_1.career]]"></span><br>
									<span ng-bind-template="Thông tin học: [[::item.level_1.learn_info]]"></span><br>
								</td>
								
								<td data-title="'Thông tin cuộc gọi'">
									<span ng-bind="item.call_info.call_note">Đã gọi lần 2</span><br>
									<span>[[vmCSMD.findObject('value',item.call_info.call_status,vmCSMD.constLevel).name]]</span><br>
									<span ng-if="item.call_info.recall_schedule" ng-bind-template="Gọi lại: [[::item.call_info.recall_schedule | bzFormatDate: 'h:mm:ss DD/MM/YYYY']]"></span><br>
								</td>
								<td data-title="'Trạng thái chăm sóc'">
									<span>[[vmCSMD.findObject('value',item.call_info.care_status,vmCSMD.constCare).name]]</span><br>
								</td>
								<td data-title="'Lịch test'">
									<span ng-if="item.level_3.schedule_inteview">Ngày test: [[item.level_3.schedule_inteview | bzFormatDate: 'h:mm:ss DD/MM/YYYY']]</span><br>
								</td>
								<td data-title="'Level'">
									<span ng-if="item.call_info.call_level">Level [[item.call_info.call_level]]</span>
								</td>
								<td data-title="'Ngày nhận contact'">
									<span ng-if="item.date_assign_saleman" ng-bind="::item.date_assign_saleman | bzFormatDate: 'h:M:S A DD/MM/YYYY'"></span>
								</td>
								<td data-title="'Đã bàn giao qua CMD'">
									<span ng-if="item.is_finish && item.date_assign_cmd" ng-bind="::item.date_assign_cmd | bzFormatDate: 'h:m:s DD/MM/YYYY'"></span>
								</td>
								<!-- <td data-title="'Trùng'">
									<span ng-if="item.dup" class="label label-danger">Trùng</span>
								</td> -->

								<td data-title="'Action'">
									<div ng-if="!item.is_finish">
										<a class="btn btn-success btn-flat btn-block btn-sm btn-edit" ui-sref="salecontact-process({id:item._id})">
											<span>Xử lý</span>
										</a>
										<button ng-click="vmCSMD.popupAssignToCMD(item)" class="btn btn-primary btn-flat btn-block btn-sm btn-assign">
											<span>Bàn giao CMD</span>
										</button>
									</div>
									<div ng-if="item.is_finish">
										<button class="btn btn-success btn-flat btn-block btn-sm btn-edit" ui-sref="salecontact-process({id:item._id})">
											<span>Xử lý</span>
										</button>
										<a class="btn btn-info btn-flat btn-block btn-sm btn-edit" ng-click="vmCSMD.popupAssignToCMD(item, 'view')">
											<span>Xem chi tiết</span>
										</a>
										<!-- <a class="btn btn-info btn-flat btn-block btn-sm btn-edit" ng-click="vmCSMD.remove(item._id)">
											<span>Xóa</span>
										</a> -->
									</div>
								</td>
							</tr>
						</table>
						<!-- ===================================END TABLE=================================== -->

					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper