<!-- Content Wrapper. Contains page content -->
<div id="mod-salecontact-process" class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			<span>Sale Contact</span>
			<small>[[mvSCP.queryParams.id ? 'Xử lý Contacts' : 'Xử lý Contacts']]</small>
		</h1>
		<ol class="breadcrumb">
			<li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
			<li class="active">Sale Contact</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">

		<!-- SELECT2 EXAMPLE -->
		<div class="box box-default">
			<div class="box-header with-border">
				<h3 class="box-title">[[userEdit.queryParams.id ? 'Cập nhật' : 'Xử lý Contacts']]</h3>

				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
					<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<div class="transfer text-right">
					<button ng-if="mvSCP.roleManager" class="btn btn-primary btn-flat" ng-click="mvSCP.popupAssignToSaleman(mvSCP.contactAssign, 'multiple')">Bàn giao cho saleman khác</button>
					<button ng-if="!mvSCP.contact.is_finish" class="btn btn-primary btn-flat" ng-click="mvSCP.popupAssignToCMD(mvSCP.contact)">Bàn giao cho CMD</button>
				</div>
				
				<!-- =======================XXXXXXXXXXXXXXXXXXLevel 1================ -->
				<div class="clearfix"><br/></div>
				<div class="box box-success">
					<div class="box-header with-border">
						<label class="head-style">Level 1 - Thông tin đăng ký của học viên.</label>
						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
						</div>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<div class="row level">
							<form novalidate id="frmLevel1" name="frmLevel1" ng-submit="mvSCP.submit('level1', frmLevel1.$valid)">
								<div class="col-md-4">
									<!-- Tên -->
									<div class="form-group">
										<label class="control-label" for="txtName">Tên <span class="required">*</span></label>
										<input id="txtName" name="txtName" class="form-control" type="text" ng-model="mvSCP.formData.level_1.name" ng-pattern="/[a-zA-Z0-9]/" required />
										<div class="messages-error" ng-messages="frmLevel1.txtName.$error" ng-if="mvSCP.submittedLevel1">
											<div ng-message="required">Bạn chưa nhập tên.</div>
											<div ng-message="pattern">Tên không được chứa các ký tự đặc biệt.</div>
										</div>
									</div>
									<!-- Email -->
									<div class="form-group">
										<label class="control-label" for="txtEmail">Email</label>
										<input class="form-control" id="txtEmail" name="txtEmail" type="text"  ng-model="mvSCP.formData.level_1.email" ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/" />
										<div class="messages-error" ng-messages="frmLevel1.txtEmail.$error" ng-if="mvSCP.submittedLevel1">
											<div ng-message="required">Bạn chưa nhập email.</div>
											<div ng-message="pattern">Email không hợp lệ.</div>
										</div>
									</div>
									<!-- Skype -->
									<div class="form-group">
										<label class="control-label" for="txtSkype">Skype</label>
										<input id="txtSkype" name="txtSkype" class="form-control" type="text" ng-model="mvSCP.formData.level_1.skype" />
									</div>
									<!-- Điện thoại -->
									<div class="form-group">
										<label class="control-label" for="txtPhone">Điện thoại <span class="required">*</span></label>
										<input id="txtPhone" name="txtPhone" class="form-control" type="text" ng-model="mvSCP.formData.level_1.phone" ng-pattern="/^[0][0-9]*$/" required />
										<div class="messages-error" ng-messages="frmLevel1.txtPhone.$error" ng-if="mvSCP.submittedLevel1" ng-messages-multiple>
											<div ng-message="required">Bạn chưa nhập số điện thoại.</div>
											<div ng-message="pattern">Số điện thoại không hợp lệ, nhập số 0 trước.</div>
										</div>
									</div>
									<!-- Điện thoại 2 -->
									<div class="form-group">
										<label class="control-label" for="txtPhone2">Điện thoại 2</label>
										<input id="txtPhone2" name="txtPhone2" class="form-control" type="text" ng-model="mvSCP.formData.level_1.phone2" />
									</div>
									<!-- Độ tuổi -->
									<div class="form-group">
										<label class="control-label" for="ddlAge">Độ tuổi</label>
										<select id="ddlAge" name="ddlAge" class="form-control" ng-model="mvSCP.formData.level_1.age">
											<option value="">Chọn độ tuổi</option>
											<option value="Dưới 6 tuổi">Dưới 6 tuổi</option>
											<option value="Từ 6 - 13 tuổi">Từ 6 - 13 tuổi</option>
											<option value="Từ 13 - 18 tuổi">Từ 13 - 18 tuổi</option>
											<option value="Từ 18 - 24 tuổi">Từ 18 - 24 tuổi</option>
											<option value="Trên 24 tuổi">Trên 24 tuổi</option>
										</select>
										<!-- <pre>[[mvSCP.formData.level_1.age | json]]</pre> -->
									</div>
								</div>
								<div class="col-md-4">
									<!-- Ngày sinh -->
									<div class="form-group">
										<label class="control-label" for="txtDob">Ngày sinh</label>
										<div class="input-group">
											<input atr-date-time-picker type="text" id="txtDob" name="txtDob" class="form-control" ng-model="mvSCP.formData.level_1.dob">
											<div class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</div>
										</div>
									</div>
									<!-- Nghề nghiệp -->
									<div class="form-group">
										<label class="control-label" for="ddlJob">Nghề nghiệp</label>
										<select class="form-control" ng-model="mvSCP.formData.level_1.career" ng-options=" item.value as (item.name) group by item.group for item in mvSCP.constCareer">
											<option value=''>-- Chọn nghề nghiệp --</option>
										</select>
									</div>
									<!-- Nguồn Contact -->
									<!-- <div class="form-group">
										<label class="control-label" for="ddlContact">Nguồn Contact</label>
										<select class="form-control" ng-model="mvSCP.formData.level_1.source_contact" ng-options=" item.value as (item.name) group by item.group for item in mvSCP.contsSourceList">
										</select>
									</div> -->
									<!-- Địa chỉ -->
									<div class="form-group">
										<label class="control-label" for="txtAddress">Địa chỉ</label>
										<textarea id="txtAddress" name="txtAddress" class="form-control" cols="30" rows="3" ng-model="mvSCP.formData.level_1.address"></textarea>
									</div>
									<!-- Tỉnh thành -->
									<div class="form-group">
										<label class="control-label" for="ddlProvince">Tỉnh thành</label>
										<select class="form-control" ng-model="mvSCP.formData.level_1.province" ng-options="key as value.name for (key , value) in mvSCP.constMap[0]">
											<option value=''>-- Chọn Tỉnh --</option>
										</select>
										<!-- <pre>[[mvSCP.formData.level_1.province | json]]</pre> -->
									</div>
									<!-- Quận huyện -->
									<div class="form-group">
										<label class="control-label" for="ddlDistrict">Quận huyện</label>
										<select class="form-control" ng-model="mvSCP.formData.level_1.district" ng-options="key as value for (key , value) in mvSCP.constMap[0][mvSCP.formData.level_1.province].districts">
											<option value=''>-- Chọn Quận huyện --</option>
										</select>
										<!-- <pre>[[mvSCP.formData.level_1.district | json]]</pre> -->
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label for="txtLearnBegin">Thời gian muốn học</label>
										<div class="input-group">
											<textarea type="text" id="txtLearnBegin" placeholder="ví dụ: thứ 2, thứ 4 lúc 9PM hàng tuần" name="txtLearnBegin" class="form-control" ng-model="mvSCP.formData.level_1.learn_begin_at"> </textarea>
										</div>
									</div>
									<div class="form-group">
										<label for="txtTeacherRequired">Yêu cầu của giáo viên</label>
										<textarea name="txtTeacherRequired" id="txtTeacherRequired" cols="30" rows="4" class="form-control" ng-model="mvSCP.formData.level_1.teacher_request"></textarea>
									</div>
								</div>
								<div class="col-md-4">
									<!-- Thông tin học -->
									<!-- <div class="form-group">
										<label class="control-label" for="txtNote">Thông tin học</label>
										<textarea id="txtNote" name="txtNote" class="form-control" cols="30" rows="7" ng-model="mvSCP.formData.level_1.learn_info"></textarea>
									</div> -->
								</div>
								<div class="col-md-12">
									<button bz-submit type="submit" class="btn btn-success btn-flat btn-submit" ng-class="{'loading-btn': mvSCP.lockFormLevel1}" ng-disabled="mvSCP.lockFormLevel1">
										<i class="glyphicon glyphicon-floppy-disk" ng-if="!mvSCP.lockFormLevel1"></i>
										<span>Cập nhật</span>
									</button>
									<!-- <pre>[[mvSCP.formData.level_1 | json]]</pre> -->
								</div>
							</form>
						</div>
						<hr/>
						<label>Lịch sử đăng ký</label>
						<hr/>
						<div class="scroll-table">
							<table class="table table-hover">
								<tbody>
									<tr>
										<th>#</th>
										<th>Learner ID</th>
										<th>Name</th>
										<th>Contact</th>
										<th>Age</th>
										<th>Infomation</th>
										<th>Phân loại</th>
										<th>Ngày đăng ký</th>
									</tr>
									<tr ng-repeat="(key, value) in mvSCP.regDup | orderBy : '-_source.createdAt'">
										<td>[[key+1]]</td>
										<td>[[value._source.olduser_id]]</td>
										<td>[[value._source.name]]</td>
										<td>
											<div>
												<p>[[value._source.email]]</p>
												<p>[[value._source.phone]]</p>
												<p>Skype: [[value._source.skype]]</p>
											</div>
										</td>
										<td>[[value._source.age]]</td>
										<td>[[value._source.learn_info]]</td>
										<td>
											<span class="label" ng-class="{'label-success':value._source.type === 'kid', 'label-primary':value._source.type === 'work', 'label-default':!value._source.type}" ng-bind="::!value._source.type ? 'Chưa xác định': value._source.type"></span>
										</td>
										<td>[[value._source.createdAt | bzFormatDate: 'HH:mm:ss A DD/MM/YYYY']]</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box-default -->

				<!-- =======================END XXXXXXXXXXXXXXXXXXLevel 1================ -->

				<form novalidate id="frmLevel27" name="frmLevel27" ng-submit="mvSCP.submit('level27', frmLevel27.$valid)">
					<!-- =======================XXXXXXXXXXXXXXXXXXLevel 2================ -->
					<div class="clearfix"><br/></div>
					<div class="box box-success">
						<div class="box-header with-border">
							<label class="head-style">Level 2</label>
							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
							</div>
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<div class="row level">
								<div class="col-md-4">
									<div class="form-group">
										<label>Phân loại</label>
										<div>
											<label for="optUndefined" role="radio">
												<input i-check id="optUndefined" name="optType" value="" type="radio" class="minimal" ng-model="mvSCP.formData.level_2.type">
												<i></i>
												<span>Chưa xác định</span>
											</label>
											<span>&nbsp;&nbsp;</span>
											<label for="optKid" role="radio">
												<input i-check id="optKid" name="optType" value="kid" type="radio" class="minimal" ng-model="mvSCP.formData.level_2.type">
												<i></i>
												<span>Kid</span>
											</label>
											<span>&nbsp;&nbsp;</span>
											<label for="optWork" role="radio">
												<input i-check id="optWork" name="optType" value="work" type="radio" class="minimal" ng-model="mvSCP.formData.level_2.type">
												<i></i>
												<span>Work</span>
											</label>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label for="ddlHasDemand">Có nhu cầu học tiếng anh không?</label>
										<select id="ddlHasDemand" name="ddlHasDemand" class="form-control" ng-model="mvSCP.formData.level_2.learner_demand">
											<option value="">Chưa xác định</option>
											<option value="yes">Có</option>
											<option value="no">Không</option>
										</select>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label for="ddlHasDemand">Trình độ học viên</label>
										<select class="form-control" ng-model="mvSCP.formData.level_2.learner_level" ng-options=" item.value as (item.name) group by item.group for item in mvSCP.constLearnerLevel">
											<option value=''>Chưa xác định</option>
										</select>
									</div>
								</div>
								<div class="col-md-12">
									<!-- <pre>[[mvSCP.formData.level_2 | json]]</pre> -->
								</div>
								<div class="col-md-12">
									<button bz-submit type="submit" class="btn btn-success btn-flat btn-submit" ng-class="{'loading-btn': mvSCP.lockFormLevel27}" ng-disabled="mvSCP.lockFormLevel27">
										<i class="glyphicon glyphicon-floppy-disk" ng-if="!mvSCP.lockFormLevel27"></i>
										<span>Cập nhật</span>
									</button>
									<!-- <pre>[[mvSCP.formData.level_8 | json]]</pre> -->
								</div>
							</div>
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box-default -->

					<!-- =======================END XXXXXXXXXXXXXXXXXXLevel 2================ -->

					<!-- =======================XXXXXXXXXXXXXXXXXXLevel 3 - 4 - 5================ -->
					<div class="clearfix"><br/></div>
					<div class="box box-success">
						<div class="box-header with-border">
							<label class="head-style">Level 3 - 4 - 5</label>
							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
							</div>
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<div class="row level">
								<div class="col-md-12">
									<h4 class="row level"><i>Level 3</i></h4>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label class="control-label" for="txtTS">Lịch hẹn test phỏng vấn</label>
										<div class="input-group">
											<input atr-date-time-picker atr-options="mvSCP.dateTimeOptions" type="text" id="txtTS" name="txtTS" class="form-control" ng-model="mvSCP.formData.level_3.schedule_inteview">
											<div class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label></label>
										<div class="input-group">
											<input i-check id="chkAT" type="checkbox" class="minimal" ng-model="mvSCP.formData.level_3.accept_test">
											<i></i>
											<label for="chkAT" role="checkbox">&nbsp Đồng ý làm bài kiểm tra</label>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<!-- <pre>[[mvSCP.formData.level_3 | json]]</pre> -->
								</div>
							</div>

							<div class="row level">
								<div class="col-md-12">
									<h4 class="row level"><i>Level 4</i></h4>
								</div>
								<div class="col-md-8">
									<div class="form-group">
										<div>
											<label for="optInterview" role="radio">
												<input i-check id="optInterview" name="optTest" ng-value="1" type="radio" class="minimal" ng-model="mvSCP.formData.level_4.inteview_or_online">
												<i></i>
												<span>Đã làm bài kiểm tra phỏng vấn</span>
											</label>
											<span>&nbsp;&nbsp;&nbsp;</span>
											<label for="optOnline" role="radio">
												<input i-check id="optOnline" name="optTest" ng-value="2" type="radio" class="minimal" ng-model="mvSCP.formData.level_4.inteview_or_online">
												<i></i>
												<span>Đã làm bài kiểm tra online</span>
											</label>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<!-- <pre>[[mvSCP.formData.level_4 | json]]</pre> -->
								</div>
							</div>

							<div class="row level">
								<div class="col-md-12">
									<h4 class="row level"><i>Level 5</i></h4>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<input i-check id="checkIT" name="checkIT" id="chkLearnerPaid" type="checkbox" class="minimal" ng-model="mvSCP.formData.level_5.is_tested">
										<label for="checkIT">Đã làm 2 bài kiểm tra</label>
									</div>

									<label type="file" ngf-select="mvSCP.uploadPDF($file)"><i class="fa fa-file-pdf-o fa-text-width"></i>  File kết quả test</label>
									<a ng-href="[[settingJs.configs.webUrl]]/files/pdf_test/[[mvSCP.formData.level_5.test_file]]">    [[mvSCP.formData.level_5.test_file]]</a>
									<uib-progressbar ng-if="progressPercentage" style="width: 200px;" animate="true" value="progressPercentage" type="success"><b>[[progressPercentage]]%</b></uib-progressbar>
								</div>
								<div class="col-md-12">
									<!-- <pre>[[mvSCP.formData.level_5 | json]]</pre> -->
								</div>
								<div id="btn-lv345" class="col-md-12">
									<button bz-submit type="submit" class="btn btn-success btn-flat btn-submit" ng-class="{'loading-btn': mvSCP.lockFormLevel27}" ng-disabled="mvSCP.lockFormLevel27">
										<i class="glyphicon glyphicon-floppy-disk" ng-if="!mvSCP.lockFormLevel27"></i>
										<span>Cập nhật</span>
									</button>
									<!-- <pre>[[mvSCP.formData.level_8 | json]]</pre> -->
								</div>
							</div>
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box-default -->

					<!-- =======================END XXXXXXXXXXXXXXXXXXLevel 3 - 4 - 5================ -->

					<!-- =======================XXXXXXXXXXXXXXXXXXLevel 6================ -->
					<div class="clearfix"><br/></div>
					<div class="box box-success">
						<div class="box-header with-border">
							<label class="head-style">Level 6</label>
							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
							</div>
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<div class="row level">
								<div class="col-md-4">
									<div class="form-group">
										<input i-check id="checkFP" name="checkFP" id="chkLearnerPaid" type="checkbox" class="minimal" ng-model="mvSCP.formData.level_6.received_distance">
										<label for="checkFP">Đã nhận lộ trình học</label>
									</div>
								</div>
								<div class="col-md-12">
									<!-- <pre>[[mvSCP.formData.level_6 | json]]</pre> -->
								</div>
								<div class="col-md-12">
									<button bz-submit type="submit" class="btn btn-success btn-flat btn-submit" ng-class="{'loading-btn': mvSCP.lockFormLevel27}" ng-disabled="mvSCP.lockFormLevel27">
										<i class="glyphicon glyphicon-floppy-disk" ng-if="!mvSCP.lockFormLevel27"></i>
										<span>Cập nhật</span>
									</button>
									<!-- <pre>[[mvSCP.formData.level_8 | json]]</pre> -->
								</div>
							</div>
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box-default -->

					<!-- =======================END XXXXXXXXXXXXXXXXXXLevel 6================ -->

					<!-- =======================XXXXXXXXXXXXXXXXXXLevel 7================ -->
					<div class="clearfix"><br/></div>
					<div class="box box-success">
						<div class="box-header with-border">
							<label class="head-style">Level 7</label>
							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
							</div>
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<div class="row level">
								<div class="col-md-4">
									<div class="form-group">
										<label for="inputMF">Học viên đã đóng 1 phần học phí (VNĐ): </label>
										<div class="input-group">
											<input type="text" id="inputMF" name="inputMF" class="form-control" ng-model="mvSCP.formData.level_7.fee_partial" bz-input-number>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<!-- <pre>[[mvSCP.formData.level_7 | json]]</pre> -->
								</div>
								<div class="col-md-12">
									<button bz-submit type="submit" class="btn btn-success btn-flat btn-submit" ng-class="{'loading-btn': mvSCP.lockFormLevel27}" ng-disabled="mvSCP.lockFormLevel27">
										<i class="glyphicon glyphicon-floppy-disk" ng-if="!mvSCP.lockFormLevel27"></i>
										<span>Cập nhật</span>
									</button>
									<!-- <pre>[[mvSCP.formData.level_7 | json]]</pre> -->
								</div>
							</div>
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box-default -->

					<!-- =======================END XXXXXXXXXXXXXXXXXXLevel 7================ -->
				</form>
				<form novalidate id="frmLevel8" name="frmLevel8" ng-submit="mvSCP.submit('level8', frmLevel8.$valid)">
					<!-- =======================XXXXXXXXXXXXXXXXXXLevel 8================ -->
					<div class="clearfix"><br/></div>
					<div class="box box-success">
						<div class="box-header with-border">
							<label class="head-style">Level 8</label>
							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
							</div>
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<div class="row level">
								<div class="pull-right">
									<a ng-click="mvSCP.addPay()" class="btn btn-success btn-flat">
										<span>Thêm mới thanh toán</span>
									</a>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label for="txtTeacherRequired">Kiểu đóng học phí</label>
										<select id="ddlCallStatus" name="ddlCallStatus" class="form-control" ng-model="mvSCP.dataFormLevel_8.pay_type" required>
											<option value=""></option>
											<option value="chuyenkhoan">Chuyển khoản</option>
											<option value="tienmat">Tiền mặt</option>
										</select>
										<div class="messages-error" ng-messages="frmLevel8.ddlCallStatus.$error" ng-if="mvSCP.submittedLevel8">
											<div ng-message="required">Bạn chưa chọn phương thức đóng tiền.</div>
											<!-- <div ng-message="pattern">Email không hợp lệ.</div> -->
										</div>
									</div>
									<div class="form-group">
										<label for="txtTeacherRequired">Ngân hàng</label>
										<select class="form-control" ng-model="mvSCP.dataFormLevel_8.bank" ng-options=" item.value as (item.name) group by item.group for item in mvSCP.constBank">
											<option value=''>-- Chọn ngân hàng --</option>
										</select>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label for="inputEmail3" class="control-label">Đã chốt (VNĐ): </label>
										<input type="text" id="ddlLearnBegin" name="ddlLearnBegin" class="form-control" ng-model="mvSCP.dataFormLevel_8.money_finish" bz-input-number required>

										<div class="messages-error" ng-messages="frmLevel8.ddlLearnBegin.$error" ng-if="mvSCP.submittedLevel8">
											<div ng-message="required">Bạn chưa nhập số tiền.</div>
											<!-- <div ng-message="pattern">Email không hợp lệ.</div> -->
										</div>
									</div>
									<div class="form-group">
										<label></label>
										<input i-check id="chkLearnerPaid" type="checkbox" class="minimal form-control" ng-model="mvSCP.dataFormLevel_8.is_received_money">
										<i></i>
										<label for="chkLearnerPaid"> &nbsp Đã nhận tiền từ học viên</label>
									</div>
								</div>
								<div class="col-md-12">
									<button bz-submit type="submit" class="btn btn-success btn-flat btn-submit" ng-class="{'loading-btn': mvSCP.lockFormLevel8}" ng-disabled="mvSCP.lockFormLevel8">
										<i class="glyphicon glyphicon-floppy-disk" ng-if="!mvSCP.lockFormLevel8"></i>
										<span>Cập nhật</span>
									</button>
									<!-- <pre>[[mvSCP.dataFormLevel_8 | json]]</pre> -->
								</div>
							</div>
							<hr/>
							<label>Các lần đóng tiền trước</label>
							<div class="scroll-table">
								<table class="table table-hover">
									<tbody>
										<tr>
											<th>#</th>
											<th>Số tiền</th>
											<th>Hình thức đóng</th>
											<th>Ngày đóng tiền</th>
											<th>Đã nhận tiền</th>
											<th>Thao tác</th>
										</tr>
										<tr ng-repeat="(key, value) in mvSCP.formData.level_8.history | orderBy : '-createdAt'">
											<td>[[key+1]]</td>
											<td>[[value.money_finish]]</td>
											<td>
												[[value.pay_type == 'tienmat' ? 'Tiền mặc' : 'Chuyển khoản']] 
												<span ng-if="value.bank && value.bank != ''"> - [[mvSCP.findObject('value',value.bank,mvSCP.constBank).name]]</span> 
											</td>
											<td>[[value.createdAt | bzFormatDate: 'HH:mm:ss A DD/MM/YYYY']]</td>
											<td>
												<span ng-show="[[value.is_received_money]]" class="label label-warning" >Đã nhận tiền</span>
											</td>
											<td><a href="" ng-click="mvSCP.editPay(value)" ng-if="mvSCP.roleManager ||(value._sale_usermember == mvSCP.userAuth.id)"><span class="glyphicon glyphicon-pencil"></span> Sửa</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box-default -->
					<!-- =======================END XXXXXXXXXXXXXXXXXXLevel 8================ -->
				</form>

				<!-- =======================XXXXXXXXXXXXXXXXXXNội dung cuộc gọi================ -->
				<div class="clearfix"><br/></div>
				<div class="box box-success">
					<div class="box-header with-border">
						<label class="head-style">Nội dung cuộc gọi</label>
						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
						</div>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<div class="row">
							<form novalidate id="frmCallInfo" name="frmCallInfo" ng-submit="mvSCP.submit('callinfo', frmCallInfo.$valid)">
								<div class="col-md-12">
									<div class="form-group">
										<div class="form-inline">
											<label for="txtRecallSchedule">Gọi lại: </label>
											<div class="input-group">
												<input i-check id="chkRC" type="checkbox" class="minimal" ng-model="mvSCP.formData.call_info.is_recall_schedule">
											</div>
										</div>
										<label for="txtRecallSchedule">Lịch gọi lại: </label>
										<div class="input-group col-md-4">
											<input atr-date-time-picker atr-options="mvSCP.dateTimeOptions" type="text" id="txtRecallSchedule" name="txtRecallSchedule" class="form-control" ng-model="mvSCP.formData.call_info.recall_schedule">
											<div class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label for="ddlCallStatus">Trạng thái cuộc gọi</label>
										<select class="form-control" ng-model="mvSCP.formData.call_info.call_status" ng-options=" item.value as (item.name) group by item.group for item in mvSCP.constLevel">
											<option value=''>-- Chọn trạng thái cuộc gọi --</option>
										</select>
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label for="ddlCallQuality">Chất lượng cuộc gọi</label>
										<select id="ddlCallQuality" name="ddlCallQuality" class="form-control" ng-model="mvSCP.formData.call_info.call_quality" ng-options="item.value as item.name for item in mvSCP.constQtyCall">
											<option value=''>-- Chọn chất lượng cuộc gọi --</option>
										</select>
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label for="ddlCareStatus">Trạng thái chăm sóc</label>
										<select id="ddlCareStatus" class="form-control" ng-model="mvSCP.formData.call_info.care_status" ng-options="item.value as item.name for item in mvSCP.constCare">
											<option value=''>-- Chọn trạng thái chăm sóc --</option>
										</select>
									</div>
								</div>

								<div class="col-md-12">
									<div class="form-group">
										<label for="ddlCallNote">Ghi chú cuộc gọi</label>
										<textarea name="ddlCallNote" id="ddlCallNote" cols="30" rows="4" class="form-control" ng-model="mvSCP.formData.call_info.call_note"></textarea>
									</div>
								</div>

								<div class="col-md-12">
									<button bz-submit type="submit" class="btn btn-success btn-flat btn-submit" ng-class="{'loading-btn': mvSCP.lockFormCallInfo}" ng-disabled="mvSCP.lockFormCallInfo">
										<i class="glyphicon glyphicon-floppy-disk" ng-if="!mvSCP.lockFormCallInfo"></i>
										<span>Cập nhật</span>
									</button>
									<!-- <pre>[[mvSCP.formData.call_info | json]]</pre> -->
								</div>
							</form>
						</div>
						<hr/>
						<label>Lịch sử cuộc gọi</label>
						<div class="scroll-table">
							<table class="table table-hover">
								<tbody><tr>
									<th>#</th>
									<!-- <th>Thời gian gọi</th> -->
									<th>Trạng thái cuộc gọi</th>
									<th>Chất lượng cuộc gọi</th>
									<th>Trạng thái chăm sóc</th>
									<th>Lịch gọi lại</th>
									<th>Nội dung</th>
									<th>Ngày tạo</th>
								</tr>
								<tr ng-repeat="(key, value) in mvSCP.formData.call_info.history | orderBy : '-createdAt'">
									<td>[[key+1]]</td>
									<!-- <td>[[value.]]</td> -->
									<td>
										[[mvSCP.findObject('value',value.call_status,mvSCP.constLevel).name]]
									</td>
									<td>
										[[mvSCP.findObject('value',value.call_quality,mvSCP.constQtyCall).name]]
									</td>
									<td>
										[[mvSCP.findObject('value',value.care_status,mvSCP.constCare).name]]
										<td>[[value.recall_schedule | bzFormatDate: 'HH:mm A DD/MM/YYYY']]</td>
										<td>[[value.call_note]]</td>
										<td>[[value.createdAt | bzFormatDate: 'HH:mm A DD/MM/YYYY']]</td>
									</tr>
								</tbody></table>
							</div>
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box-default -->

					<!-- =======================END XXXXXXXXXXXXXXXXXXNội dung cuộc gọi================ -->

					<div class="transfer text-right">
						<button ng-if="!mvSCP.contact.is_finish" class="btn btn-primary btn-flat" ng-click="mvSCP.popupAssignToCMD(mvSCP.contact)">Bàn giao cho CMD</button>
					</div>

					<!-- =======================XXXXXXXXXXXXXXXXXXLịch sử bàn giao================ -->
					<div class="clearfix"><br/></div>
					<div class="box box-success">
						<div class="box-header with-border">
							<label class="head-style">Lịch sử bàn giao</label>
							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
							</div>
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<div class="row level">
								<div class="col-md-12">
									<div class="history-wrap">
										<div class="item" ng-repeat="item in mvSCP.histories track by item._id">
											<div ng-if="item.type === 'assign_saleman'">
												<strong ng-bind-template="[[item.content.desc]]"></strong>
												<p>[[item.module.desc]] [[item.createdAt | bzFormatDate: 'HH:mm A DD/MM/YYYY']]</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box-default -->
					<!-- =======================END XXXXXXXXXXXXXXXXXXLịch sử bàn giao================ -->
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper-->
